$primary-color: #1976d2;
$primary-color-light: #73b7fc;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #b0b0b0;
$dark-grey-color: #555555;
$sidebar-color: #dddddd;
* {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-center-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hunar {
    height: 100vh;
    display: flex;
    flex-direction: row;

    &--sidebar {
        position: sticky;
        width: 300px;
        background: $sidebar-color;

        & a {
            display: flex;
            border: 1px solid $primary-color;
            margin: 20px 8px;
            padding: 4px 8px;
            border-radius: 5px;
            color: $black-color;
            text-decoration: none;
            & svg {
                margin-right: 10px;
            }
        }

        & .active {
            background-color: $primary-color-light;
        }
    }

    &--content {
        background: $white-color;
        height: 100%;
        width: 100%;
    }
}

.add-job {
    height: 100%;

    &--header {
        padding: 8px 20px;
        height: 50px;
        border-bottom: 1px dotted $grey-color;
    }

    &--content {
        height: calc(100% - 110px);
        padding: 16px;
        overflow-y: scroll;
    }

    &--footer {
        display: flex;
        justify-content: end;
        z-index: 2;
        height: 60px;
        border-top: 1px dotted $grey-color;
    }
}

.mcq-question-type {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.font-color-dark-gray {
    color: $dark-grey-color;
}

.multiselect-label {
    position: absolute;
    font-size: 12px;
    top: -10px;
    left: 8px;
    background: $white-color;
}

.image-question-type {
    &--button {
        margin: 12px 0;
    }
}

.image-upload-container {
    & label {
        color: $primary-color;
        background: $white-color;
        padding: 8px 20px;
        margin: 8px 2px;
        font-size: 16px;
        border: 1px solid $primary-color;
        border-radius: 4px;
        text-transform: uppercase;
        transition: 0.3s;
        cursor: pointer;
    }
    &--done {
        display: flex;
        flex-direction: row;
    }
}
.all-jobs-page {
    &--header {
        padding: 8px 20px;
        height: 50px;
        border-bottom: 1px dotted $grey-color;
    }

    &--content {
        padding: 8px;
    }
}
.job-query {
    & h3 {
        font-weight: bold;
        color: $primary-color;
    }
    padding: 20px;
    border: 2px solid;
}
.question-display {
    border-bottom: 1px dotted black;
    &--question {
        font-weight: bolder;
    }

    & p {
        margin-left: 16px;
    }
}

// Responsive Css

@media screen and (max-width: 1023px) {
    .hunar {
        flex-direction: column;

        &--sidebar {
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            width: 100%;
            z-index: 2;

            & a {
                margin: 8px;
                padding: 4px;
            }
        }
    }

    .add-job {
        margin-top: 50px;
        height: calc(100% - 50px);
        &--header {
            width: 100%;
            background: $white-color;
            z-index: 2;
        }
    }
}
